a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

img {
  max-width: 100%; }

.hover-state {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .hover-state:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: .8; }

.black-bg {
  background: #000000; }
  .black-bg .main-title {
    color: #FFFFFF; }

.white-bg .main-title {
  color: black; }

.text-break {
  display: block; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.button {
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -.5px;
  color: #FFFFFF; }
  .button.green {
    background-color: #20C933; }
  .button.blue {
    background-color: #0a5dff; }

.wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-title {
  font-size: 88px;
  line-height: 98px;
  font-weight: 700;
  letter-spacing: -4px;
  text-align: center; }

.main-description {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -.5px; }

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 11px 20px;
  border-radius: 6px;
  max-width: 480px;
  width: 100%; }
  .input-wrapper .standard-form-input {
    display: flex;
    flex-grow: 1;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    padding-right: 25px; }
    .input-wrapper .standard-form-input:focus {
      border: none;
      outline: none;
      box-shadow: none; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

body {
  margin: 0;
  font-family: 'Inter', sans-serif; }

.top-menu {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .top-menu li {
    padding: 0 20px; }
    .top-menu li:last-of-type {
      padding-right: 0; }
  .top-menu a {
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    letter-spacing: -.5px; }
    .top-menu a:hover {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: rgba(255, 255, 255, 0.8); }

header {
  padding: 34px 0;
  position: absolute;
  z-index: 150;
  top: 0;
  width: 100%;
  color: #FFFFFF; }
  header a {
    color: #FFFFFF; }
  header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -1px; }
    header .logo img {
      width: 24px; }
  header .top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  header .right-side {
    display: flex;
    flex-direction: row;
    align-items: center; }
  header .button {
    margin-left: 45px; }
  header .navi-hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    z-index: 3000;
    float: right;
    height: 40px;
    width: 44px;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    transition: all .5s;
    border: 1px solid #b2b2b2;
    border-radius: 4px; }
    header .navi-hamburger.open span {
      left: -2px;
      width: 28px; }
      header .navi-hamburger.open span.top {
        top: 1px; }
      header .navi-hamburger.open span.bottom {
        top: 3px; }
    header .navi-hamburger.open span:first-child {
      transform: rotate(45deg) translate(2.4px, 8.4px);
      left: 1.5px; }
    header .navi-hamburger.open span:nth-child(2) {
      width: 0;
      opacity: 0; }
    header .navi-hamburger.open span:last-child {
      transform: rotate(-45deg) translate(7.4px, -7.4px); }
    header .navi-hamburger span {
      position: relative;
      display: block;
      top: 0px;
      height: 2px;
      width: 100%;
      border-radius: 10px;
      transition: all .25s;
      background-color: #f7f7f7; }

.nav-mobile-wrapper {
  padding-top: 80px;
  background-color: #000000; }

.nav-mobile {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 250; }
  .nav-mobile .top-menu {
    flex-direction: column;
    align-items: flex-start; }
    .nav-mobile .top-menu li {
      display: flex;
      padding: 0;
      margin-bottom: 8px; }
      .nav-mobile .top-menu li a {
        font-size: 15px;
        padding: 4px 0;
        color: #FFFFFF;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .nav-mobile .top-menu li a:hover {
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          color: rgba(255, 255, 255, 0.8); }
  .nav-mobile .button {
    font-size: 15px;
    display: inline-flex; }

.main-section {
  position: relative;
  background-color: #000000;
  padding-top: 200px;
  padding-bottom: 315px;
  min-height: 100vh; }
  .main-section .main-title {
    max-width: 630px;
    margin-bottom: 24px; }
  .main-section .main-description {
    max-width: 540px;
    color: #b2b2b2; }
  .main-section .input-wrapper {
    margin-top: 50px;
    background-color: #262626; }
    .main-section .input-wrapper .standard-form-input {
      color: #b2b2b2; }
      .main-section .input-wrapper .standard-form-input::-webkit-input-placeholder {
        color: #b2b2b2; }
      .main-section .input-wrapper .standard-form-input:-moz-placeholder {
        color: #b2b2b2; }
      .main-section .input-wrapper .standard-form-input::-moz-placeholder {
        color: #b2b2b2; }
      .main-section .input-wrapper .standard-form-input:-ms-input-placeholder {
        color: #b2b2b2; }
      .main-section .input-wrapper .standard-form-input::placeholder {
        color: #b2b2b2; }
  .main-section .main-img {
    position: absolute;
    top: 120%; }
  .main-section .hanging-coin {
    position: absolute; }
    .main-section .hanging-coin.top-left {
      top: 12%;
      left: 16%;
      width: 60px; }
    .main-section .hanging-coin.middle-left {
      top: 28%;
      left: 20%;
      width: 100px; }
    .main-section .hanging-coin.bottom-left {
      top: 45%;
      left: 12%;
      width: 103px; }
    .main-section .hanging-coin.top-right {
      top: 18%;
      right: 20%; }
    .main-section .hanging-coin.middle-right {
      top: 40%;
      right: 22%;
      width: 70px; }
    .main-section .hanging-coin.bottom-right {
      top: 50%;
      right: 12%;
      width: 100px; }

.tools-section {
  padding-top: 580px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .tools-section .main-title {
    margin-bottom: 30px; }
  .tools-section .main-description {
    margin-bottom: 80px; }
  .tools-section .tiles-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-left: 80px;
    margin-bottom: 0; }
    .tools-section .tiles-block .tile {
      padding: 0 12px; }
      .tools-section .tiles-block .tile .tile-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 34px 40px 50px;
        background-color: #000000;
        border-radius: 12px;
        box-shadow: 10px 20px 30px rgba(18, 19, 22, 0.03);
        width: 310px;
        min-height: 360px;
        color: #FFFFFF; }
        .tools-section .tiles-block .tile .tile-body .top-block {
          margin-bottom: 30px; }
          .tools-section .tiles-block .tile .tile-body .top-block img {
            width: 62px; }
        .tools-section .tiles-block .tile .tile-body .bottom-block {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          min-height: 160px; }
        .tools-section .tiles-block .tile .tile-body .tile-title {
          font-weight: 700;
          font-size: 32px;
          line-height: 39px;
          letter-spacing: -.5px;
          margin-bottom: 12px; }
        .tools-section .tiles-block .tile .tile-body .tile-description {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px; }

.blue-banner-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 170px;
  background-color: #0A5DFF;
  overflow: hidden; }
  .blue-banner-section .main-title {
    color: #FFFFFF;
    text-align: left; }
  .blue-banner-section .main-title {
    margin-bottom: 24px; }
  .blue-banner-section .main-description {
    color: #f7f7f7;
    text-align: left; }
  .blue-banner-section .banner-img-snippet {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; }
    .blue-banner-section .banner-img-snippet img {
      margin-bottom: -2px; }

.taxes {
  position: relative;
  padding-top: 125px;
  padding-bottom: 100px;
  overflow: hidden; }
  .taxes .main-title {
    max-width: 600px;
    margin-bottom: 30px; }
  .taxes .main-description {
    max-width: 760px;
    margin-bottom: 55px; }
  .taxes .left-side {
    position: absolute;
    top: 50%;
    left: -3%;
    max-width: 370px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .taxes .right-side {
    position: absolute;
    top: 50%;
    right: -3%;
    max-width: 410px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .taxes .input-wrapper {
    border: 1px solid #EBEBEB; }
    .taxes .input-wrapper .standard-form-input {
      color: #b2b2b2; }
      .taxes .input-wrapper .standard-form-input::-webkit-input-placeholder {
        color: #b2b2b2; }
      .taxes .input-wrapper .standard-form-input:-moz-placeholder {
        color: #b2b2b2; }
      .taxes .input-wrapper .standard-form-input::-moz-placeholder {
        color: #b2b2b2; }
      .taxes .input-wrapper .standard-form-input:-ms-input-placeholder {
        color: #b2b2b2; }
      .taxes .input-wrapper .standard-form-input::placeholder {
        color: #b2b2b2; }

.technologies {
  padding-top: 30px;
  padding-bottom: 120px; }
  .technologies .techno-tile {
    border-radius: 12px;
    color: #FFFFFF;
    overflow: hidden; }
    .technologies .techno-tile.green {
      background-color: #20C933; }
    .technologies .techno-tile.blue {
      background-color: #0A5DFF; }
    .technologies .techno-tile .top-block {
      padding: 56px 48px 0 48px; }
    .technologies .techno-tile .bottom-block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      min-height: 400px; }
      .technologies .techno-tile .bottom-block img {
        display: block;
        width: 100%; }
    .technologies .techno-tile-title {
      text-align: center;
      font-size: 60px;
      line-height: 72px;
      letter-spacing: -4px;
      margin-bottom: 22px; }
    .technologies .techno-tile-description {
      text-align: center;
      font-size: 22px;
      line-height: 34px; }

.cards {
  padding-top: 120px;
  padding-bottom: 455px;
  overflow: hidden;
  position: relative; }
  .cards .main-title {
    max-width: 680px;
    margin-bottom: 24px; }
  .cards .main-description {
    color: #b2b2b2;
    max-width: 710px; }
  .cards .parallax-horizontal-block {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .cards .paroller {
    position: absolute;
    left: -100px;
    width: 2000px;
    bottom: -100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .cards .paroller img {
      width: 100%;
      opacity: .2;
      padding: 0 12px; }
  .cards .parallax-horizontal-block-upper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .cards .parallax-horizontal-block-upper .paroller-upper {
      position: absolute;
      top: 70px;
      z-index: 10;
      width: 3560px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .cards .parallax-horizontal-block-upper .paroller-upper img {
        padding: 0 12px;
        height: 235px; }

.plans {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #624CE0; }
  .plans .main-title {
    max-width: 700px;
    color: #FFFFFF;
    margin-bottom: 85px; }
  .plans .tile-inside-block {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 12px;
    overflow: hidden; }
  .plans .tile-plans {
    border-radius: 12px;
    background: linear-gradient(166.17deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01) 99.53%);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 0 30px; }
    .plans .tile-plans:hover {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
      .plans .tile-plans:hover .tile-inside-block {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
    .plans .tile-plans.white .tile-inside-block {
      background-color: #FFFFFF; }
    .plans .tile-plans.white .head-block {
      background-color: #F7F7F7; }
      .plans .tile-plans.white .head-block .tile-title {
        color: #000000;
        letter-spacing: -1px;
        font-weight: 900; }
        .plans .tile-plans.white .head-block .tile-title img {
          width: 32px; }
    .plans .tile-plans.white .tile-list li {
      color: #000000; }
    .plans .tile-plans.black .tile-inside-block {
      background-color: #262626; }
    .plans .tile-plans.black .head-block {
      background-color: #2d2d2d; }
      .plans .tile-plans.black .head-block .small-title {
        color: rgba(255, 255, 255, 0.5); }
      .plans .tile-plans.black .head-block .tile-title {
        color: #FFFFFF;
        letter-spacing: -.5px; }
    .plans .tile-plans.black .tile-list li {
      color: #FFFFFF; }
    .plans .tile-plans .head-block {
      padding: 32px 48px 30px; }
      .plans .tile-plans .head-block .small-title {
        color: rgba(0, 0, 0, 0.5);
        letter-spacing: -.5px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px; }
      .plans .tile-plans .head-block .tile-title {
        font-size: 40px;
        line-height: 48px; }
    .plans .tile-plans .tile-list {
      padding: 32px 48px 56px; }
      .plans .tile-plans .tile-list li {
        position: relative;
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: -.5px;
        padding-left: 40px; }
        .plans .tile-plans .tile-list li.checked::before {
          content: '';
          position: absolute;
          background-image: url("../img/green-checked-icon.png");
          background-repeat: no-repeat;
          background-size: cover;
          width: 19px;
          height: 14px;
          left: 0;
          top: 5px; }
        .plans .tile-plans .tile-list li.unchecked:before {
          content: '';
          position: absolute;
          background-image: url("../img/red-close-img.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 18px;
          height: 18px;
          left: 0;
          top: 4px; }
        .plans .tile-plans .tile-list li:last-of-type {
          margin-bottom: 0; }

.faq {
  padding-top: 120px;
  padding-bottom: 120px; }
  .faq .main-title {
    color: #000000;
    margin-bottom: 80px;
    max-width: 710px; }
  .faq .accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    border-radius: 14px; }
    .faq .accordion .a-container {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .faq .accordion .a-container .line-block {
        padding: 0 56px; }
        .faq .accordion .a-container .line-block .line {
          border-bottom: 1px solid rgba(178, 178, 178, 0.3); }
      .faq .accordion .a-container .a-panel {
        width: 100%;
        color: #262626;
        transition: all 0.4s ease;
        opacity: 0;
        height: auto;
        max-height: 0;
        overflow: hidden;
        padding: 0px 60px; }
        .faq .accordion .a-container .a-panel .content {
          padding: 0px 0 40px; }
          .faq .accordion .a-container .a-panel .content .description {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #000000;
            letter-spacing: -.5px;
            margin-bottom: 20px; }
      .faq .accordion .a-container.active .a-btn {
        padding: 40px 56px 30px 56px; }
      .faq .accordion .a-container.active .a-panel {
        opacity: 1;
        max-height: 500px;
        transition: all 0.4s ease; }
      .faq .accordion .a-container.active span::before {
        transform: rotate(0deg); }
    .faq .accordion .a-btn {
      margin: 0;
      position: relative;
      padding: 40px 56px 40px 56px;
      width: 100%;
      color: #414141;
      font-size: 22px;
      display: block;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.4s ease;
      border-radius: 5px; }
    .faq .accordion span {
      display: block;
      position: absolute;
      height: 12px;
      width: 12px;
      right: 56px;
      top: 45px; }
      .faq .accordion span:after {
        content: '';
        width: 12px;
        height: 2px;
        border-radius: 2px;
        background-color: #000000;
        position: absolute;
        top: 6px; }
      .faq .accordion span:before {
        content: '';
        width: 12px;
        height: 2px;
        border-radius: 2px;
        background-color: #000000;
        position: absolute;
        top: 6px;
        transform: rotate(90deg);
        transition: all 0.3s ease-in-out; }

footer {
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 30px; }
  footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  footer .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 24px; }
  footer .text-snippet {
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.5px;
    color: rgba(0, 0, 0, 0.5); }
  footer .right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end; }
  footer .input-wrapper {
    padding: 0;
    justify-content: flex-end; }
    footer .input-wrapper .standard-form-input {
      background-color: #EBEBEB;
      border-radius: 4px;
      width: 100%;
      max-width: 270px;
      color: #b2b2b2;
      margin-right: 10px;
      padding-left: 20px; }
      footer .input-wrapper .standard-form-input::-webkit-input-placeholder {
        color: #b2b2b2; }
      footer .input-wrapper .standard-form-input:-moz-placeholder {
        color: #b2b2b2; }
      footer .input-wrapper .standard-form-input::-moz-placeholder {
        color: #b2b2b2; }
      footer .input-wrapper .standard-form-input:-ms-input-placeholder {
        color: #b2b2b2; }
      footer .input-wrapper .standard-form-input::placeholder {
        color: #b2b2b2; }
    footer .input-wrapper .button {
      font-size: 14px; }
  footer .link-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px; }
  footer .links {
    display: flex;
    flex-direction: row; }
    footer .links li {
      padding: 0 12px; }
      footer .links li:last-of-type {
        padding-right: 0; }
      footer .links li a {
        display: flex; }
        footer .links li a img {
          width: 20px;
          height: 20px; }
  footer .mail {
    font-size: 14px;
    letter-spacing: -.5px;
    font-weight: 500;
    margin-left: 16px; }

.separate-line {
  width: 100%;
  height: 1px;
  background-color: #EBEBEB;
  margin-top: 48px;
  margin-bottom: 32px; }

.copyright-wrapper .copyright {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #828282; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  .for-narrow-screen {
    display: block; }
  .for-wide-screen {
    display: none; } }

@media only screen and (max-width: 1200px) {
  .main-title {
    font-size: 80px;
    line-height: 90px; }
  .main-description {
    font-size: 20px;
    line-height: 30px; }
  .main-section {
    min-height: initial;
    padding-bottom: 260px; }
    .main-section .hanging-coin.top-left {
      top: 14%;
      left: 12%;
      width: 50px; }
    .main-section .hanging-coin.middle-left {
      top: 32%;
      left: 14%;
      width: 90px; }
    .main-section .hanging-coin.bottom-left {
      top: 50%;
      left: 6%;
      width: 90px; }
    .main-section .hanging-coin.top-right {
      top: 20%;
      right: 12%;
      width: 70px; }
    .main-section .hanging-coin.middle-right {
      top: 40%;
      right: 14%;
      width: 70px; }
    .main-section .hanging-coin.bottom-right {
      top: 50%;
      right: 4%;
      width: 100px; }
    .main-section .main-description {
      max-width: 480px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-title {
    font-size: 70px;
    line-height: 80px; }
  .main-description {
    font-size: 20px;
    line-height: 30px; }
  .main-section .hanging-coin.top-left {
    top: 16%;
    left: 12%;
    width: 40px; }
  .main-section .hanging-coin.middle-left {
    top: 32%;
    left: 12%;
    width: 80px; }
  .main-section .hanging-coin.bottom-left {
    top: 50%;
    left: 4%;
    width: 80px; }
  .main-section .hanging-coin.top-right {
    top: 20%;
    right: 10%;
    width: 60px; }
  .main-section .hanging-coin.middle-right {
    top: 40%;
    right: 12%;
    width: 60px; }
  .main-section .hanging-coin.bottom-right {
    top: 50%;
    right: 4%;
    width: 90px; }
  .main-section .main-description {
    max-width: 480px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  header .right-side {
    display: none; }
  .main-section {
    padding-top: 150px;
    padding-bottom: 200px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .navi-hamburger {
    display: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 992px) {
  .container,
  .container-lg {
    max-width: 1310px; } }

@media only screen and (min-width: 1600px) {
  .for-narrow-screen {
    display: none; }
  .for-wide-screen {
    display: block; } }
