/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  .for-narrow-screen {
    display: block; }
  .for-wide-screen {
    display: none; } }

@media only screen and (max-width: 1200px) {
  .main-title {
    font-size: 80px;
    line-height: 90px; }
  .main-description {
    font-size: 20px;
    line-height: 30px; }
  .main-section {
    min-height: initial;
    padding-bottom: 260px; }
    .main-section .hanging-coin.top-left {
      top: 14%;
      left: 12%;
      width: 50px; }
    .main-section .hanging-coin.middle-left {
      top: 32%;
      left: 14%;
      width: 90px; }
    .main-section .hanging-coin.bottom-left {
      top: 50%;
      left: 6%;
      width: 90px; }
    .main-section .hanging-coin.top-right {
      top: 20%;
      right: 12%;
      width: 70px; }
    .main-section .hanging-coin.middle-right {
      top: 40%;
      right: 14%;
      width: 70px; }
    .main-section .hanging-coin.bottom-right {
      top: 50%;
      right: 4%;
      width: 100px; }
    .main-section .main-description {
      max-width: 480px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-title {
    font-size: 70px;
    line-height: 80px; }
  .main-description {
    font-size: 20px;
    line-height: 30px; }
  .main-section .hanging-coin.top-left {
    top: 16%;
    left: 12%;
    width: 40px; }
  .main-section .hanging-coin.middle-left {
    top: 32%;
    left: 12%;
    width: 80px; }
  .main-section .hanging-coin.bottom-left {
    top: 50%;
    left: 4%;
    width: 80px; }
  .main-section .hanging-coin.top-right {
    top: 20%;
    right: 10%;
    width: 60px; }
  .main-section .hanging-coin.middle-right {
    top: 40%;
    right: 12%;
    width: 60px; }
  .main-section .hanging-coin.bottom-right {
    top: 50%;
    right: 4%;
    width: 90px; }
  .main-section .main-description {
    max-width: 480px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  header .right-side {
    display: none; }
  .main-section {
    padding-top: 80px;
    padding-bottom: 200px; }
  .nav-mobile-wrapper {
    padding-top: 80px;
    background-color: #000000; }
  .nav-mobile {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 250; }
    .nav-mobile .top-menu {
      flex-direction: column;
      align-items: flex-start; }
      .nav-mobile .top-menu li {
        display: flex;
        padding: 0;
        margin-bottom: 8px; }
        .nav-mobile .top-menu li a {
          font-size: 15px;
          padding: 4px 0;
          color: #FFFFFF;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          .nav-mobile .top-menu li a:hover {
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            color: rgba(255, 255, 255, 0.8); }
  .button {
    font-size: 15px;
    display: inline-flex; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .navi-hamburger {
    display: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 992px) {
  .container,
  .container-lg {
    max-width: 1310px; } }

@media only screen and (min-width: 1600px) {
  .for-narrow-screen {
    display: none; }
  .for-wide-screen {
    display: block; } }
